@import '../template';

.ZebraDialogOverlay {
    background: #666;
    height: 100%;
    z-index: 1000;
    width: 100%;
}

.ZebraDialog,
.ZebraDialog_Title,
.ZebraDialog_Body,
.ZebraDialog_Buttons a {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.ZebraDialog_Preloader {
    background: url('preloader.gif') no-repeat center center;
    height: 32px;
}

.ZebraDialog {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #E7EDEF;
    border: 7px solid #13252F;
    width: 450px;
}

.ZebraDialog_Title {
    background: #444;
    border-bottom: 1px solid #000;
    color: #F6F5F5;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.ZebraDialog_Body {
    color: #44484A;
    padding: 20px;
    border-bottom: 2px groove #FFF;
}

.ZebraDialog_Icon .ZebraDialog_Body {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding-left: 88px;
    min-height: 48px;
    /* min-height hack for IE6 */
    height: auto !important;
    height: 48px;
}

.ZebraDialog_Buttons {
    padding: 10px 5px 10px 10px;

    a {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        color: #FFF;
        font-weight: bold;
        margin-right: 5px !important;
        min-width: 60px;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 0px 2px #222;
        _width: 60px;

        /* taken from Twitter Bootstrap */
        background-color: #006DCC;
        *background-color: #0044CC;
        background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
        background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
        background-image: -o-linear-gradient(top, #0088CC, #0044CC);
        background-image: linear-gradient(to bottom, #0088CC, #0044CC);
        background-repeat: repeat-x;
        border-color: #0044CC #0044CC #002A80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

        &:hover {
            background: #224467;
            color: #FFF;
        }
    }
}

.ZebraDialog_Close {
    color: #888;
    right: 10px;

    &:hover {
        color: #000;
    }
}
