.syntaxhighlighter {
    padding: 1em 0;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}

.myclass .ZebraDialog_Title {
    background: #330066;
}

body.flat .myclass .ZebraDialog_Title {
    background: #DEDEDE;
    border-bottom: 1px solid #222;
}

.myclass .ZebraDialog_Body {
    background-image: url('coffee_48.png')
}

