body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.syntaxhighlighter {
    padding: 1.5em 0;
}

.syntaxhighlighter .code {
    font-size: 14px !important;
}

.myclass .ZebraDialog_Title {
    background: #330066;
}

body.flat .myclass .ZebraDialog_Title {
    background: #DEDEDE;
    border-bottom: 1px solid #222;
}

.myclass .ZebraDialog_Body {
    background-image: url('coffee_48.png')
}

.top {
    position: relative;
    margin-left: 10px;
}
