.ZebraDialog_NoScroll {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}

.ZebraDialogBackdrop {
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.ZebraDialog * {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.ZebraDialog,
.ZebraDialog_Title,
.ZebraDialog_Body,
.ZebraDialog_Buttons a {
    margin: 0;
    padding: 0;
    text-align: left;
}

.ZebraDialog {
    max-width: 100%;
    z-index: 1001;
    @media (max-width: 574px) {
        width: 100%;
    }

}

.ZebraDialog_Title {
    position: relative;
}

.ZebraDialog_Body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ZebraDialog_Confirmation .ZebraDialog_Body {
    background-image: url(confirmation.png);
}

.ZebraDialog_Error .ZebraDialog_Body {
    background-image: url(error.png);
}

.ZebraDialog_Information .ZebraDialog_Body {
    background-image: url(information.png);
}

.ZebraDialog_Question .ZebraDialog_Body {
    background-image: url(question.png);
}

.ZebraDialog_Warning .ZebraDialog_Body {
    background-image: url(warning.png);
}

.ZebraDialog_Prompt .ZebraDialog_Body {
    background-image: url(prompt.png);
}

.ZebraDialog_Prompt_Input {
    width: 100%;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.ZebraDialog_Buttons {
    text-align: right;

    a {
        display: inline-block;
        white-space: nowrap;
        zoom: 1;
        *display: inline;
    }
    &.ZebraDialog_Buttons_Centered {
        text-align: center;
    }
}

a.ZebraDialog_Close {
    background: transparent;
    font-family: arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-top: -15px;
    position: absolute;
    text-decoration: none;
    top: 50%;
}

.ZebraDialog_NoTitle .ZebraDialog_Close {
    top: 0;
    margin-top: 0;
}
