@import '../template';

.ZebraDialogOverlay {
    background: #666;
    height: 100%;
    z-index: 1000;
    width: 100%;
}

.ZebraDialog,
.ZebraDialog_Title,
.ZebraDialog_Body,
.ZebraDialog_Buttons a {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.ZebraDialog_Preloader {
    background: url('preloader.gif') no-repeat center center;
    height: 32px;
}

.ZebraDialog {
    background: #FFF;
    border: 1px solid #dedede;
    width: 450px;
}

.ZebraDialog_Title {
    border-bottom: 1px solid #F0F0F0;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
}

.ZebraDialog_Body {
    color: #44484A;
    padding: 40px;
}

.ZebraDialog_Icon .ZebraDialog_Body {
    background-repeat: no-repeat;
    background-position: 30px 40px;
    padding-left: 124px;
    min-height: 64px;
    height: auto;
}

.ZebraDialog_Prompt_Input {
    padding: 8px;
    margin: 10px 0 0;
    border: 1px solid #cbcbcb;
    color: #44484A;
    border-radius: 3px;
}

.ZebraDialog_Buttons {
    padding: 10px 5px 10px 10px;

    a {
        background: #516270;
        color: #FFF;
        font-weight: bold;
        margin-right: 5px !important;
        min-width: 60px;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;

        &:hover {
            background: #224467;
            color: #FFF;
        }
    }
}

.ZebraDialog_Close {
    color: #888;
    right: 10px;

    &:hover,
    &:focus {
        color: #000;
    }
}
